.h1 {
    font-size: 65px;
    margin-top: 134px;
}

.moid {
    margin-bottom: 200px;
}

@media only screen and (max-width: 500px) {
    .h1 {
        font-size: 35px;
        margin-top: 74px;
    }
    
    .moid {
        margin-bottom: 70px;
    }
}